.bg-eff3e3 {
    background-color: #EFF3E3;
}

#personalityPieChart {
    max-width: 100%; /* Ensure the SVG scales properly */
}

.tooltip {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.right-side-header {
    font-family: Garamond; 
    font-size: 24px; 
    line-height: 28px; 
    color: rgb(51, 51, 51); 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: underline; 
    user-select: text;
}

.section-highlight {
    background-color: rgb(243, 250, 249);
}

.section-detail {
    background-color: white;
}

#wordcloud {
    width: 100%;
}

#experience-chart {
    width: 100%;
  }
  
  .bar {
    fill: steelblue; /* Color of the bars */
  }
  
  .bar-label {
    font-size: 12px; /* Font size of the labels */
    fill: black; /* Color of the labels */
  }
  
  .axis text {
    font-size: 12px; /* Font size of the axis labels */
    font-family: arial;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000; /* Color of the axis lines */
    shape-rendering: crispEdges;
  }
  
  /* Container for the public speaking grid */
  #public-speaking-grid {
    height: 33vh; /* 33% of the viewport height */
    overflow-y: auto; /* Add vertical scrollbar when necessary */
  }

 /* Add CSS for styling the speaking engagements grid */
.speaking-engagements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto; /* Enable vertical scrollbar if needed */
  max-height: 33vh; /* Set maximum height to 33% of viewport height */
}

.speaking-engagement {
  width: calc(100% / 4); /* Initially display 4 engagements per row */
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
